---
layout: default
---

<div class="project-page">
  <header class="project-header">
    <h1>{{ page.title }}</h1>
    <div class="project-summary">
      <div class="overview">
        <h2>Overview</h2>
        <p>{{ page.summary }}</p>
      </div>
      {% if page.skills %}
      <div class="skills">
        <h2>What I Did</h2>
        <ul>
        {% for skill in page.skills %}
          <li>{{ skill }}</li>
        {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
  </header>

  <article class="project-content">
    {{ content }}
  </article>
</div>